
*{

	box-sizing: border-box;

}

.lateral{

	position:	fixed;
	top:	0;
	bottom: 0;
	left: 0;
	width: 350px;
	background-color: #56B3AB; 
	padding: 2em;
}

.perfil_circulo{

	
	margin:	auto;
	width: 100px;
	height:100px;
	overflow:  hidden;
	border-radius: 50%;
	vertical-align: middle;
	

}

.perfil_foto{

	width: 100%;

}

.perfil_nombre{

	color:	white;
	font-size: 23px;
	text-align: center;
	width: 100%;

}

.informacion{

	color: #0F6A62;
	position: absolute;
	bottom: 1em;


}

.informacion_titulo{
	font-size: 18px;

}

.informacion_descripcion{
	padding: 10px 0;
}

.habilidad{

	background-color: #0F6A62;
	color:white;
	font-size: 14px;
	display: inline-block;
	padding: .5px;
	text-transform: uppercase;
}





